photos/*
jpgps.py
*.pyc
node_modules
cfg/config.js
*.swp
config
photo_mapper/static/img
photo_mapper/static/lib/js
photo_mapper/static/lib/img/default-skin.png
app.log
photo_mapper/static/js/bundle.js
/static
