mixin ie(condition, content)
  | <!--[!{condition}]>!{content}<![endif]-->

html
  head
    title #{title} 
    link(rel='stylesheet', href='/css/photo_mapper.css')
    +ie('if IE 8', '<link href="/css/ie.css" rel="stylesheet"></link>')
    link(rel='stylesheet', href='/photoswipe/photoswipe.css')
    link(rel='stylesheet', href='/photoswipe/default-skin/default-skin.css')
    meta(name="viewport", content="width = device-width, initial-scale = 1.0") 
  body
    .border
    #mapLeft
    #mapRight
    #mapCanvas
    .border
    script(src='/photoswipe/photoswipe.js')
    script(src='/photoswipe/photoswipe-ui-default.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=#{gmapsKey}')
    script(src='https://code.jquery.com/jquery-1.11.3.js')
    script(src='/js/photo_mapper.js')
