html
  head
    title #{title} 
    link(rel='stylesheet', href='/css/style.css')
  body
    #map-canvas
    script(src='https://maps.googleapis.com/maps/api/js?key=#{gmapsKey}')
    script(src='/js/gmaps.js')
