html
  head
    title #{title} 
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/magnific/magnific-popup.css')
  body
    #mapLeft
      #photoListHeading
        p Heading
      ul#photoList
    #mapCanvas
    script(src='https://maps.googleapis.com/maps/api/js?key=#{gmapsKey}')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/magnific/jquery.magnific-popup.js')
    script(src='/js/gmaps.js')
    
