* {
  margin: 0;
  padding: 0;
}

html, body {
	margin: 0;
	height: 100%;
}

#mapCanvas { 
	height: 90%;
}

@media all and (orientation:landscape) {
	#mapLeft {
		float: left;	
		height: 90%;
		margin-left: 1%;
		overflow: auto; 
		width: 140px; 
	}
}

@media all and (orientation:portrait) {
    #mapLeft {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 140px;
		width: auto; 
		white-space: nowrap;
    }
}

#mapRight {
	height: 90%;
	float: right;
	width: 10px;
}

#photoList {
	overflow: auto; 
	list-style-type: none;
}

.thumbnail {
	margin: 5px;
	cursor: pointer;
	cursor: hand;
}

.thumbLink {
}

.border {
	width: 100%;
	height: 5%;
}

.pswp__bg {
	opacity: .7 !important; 
}

.pswp__img--placeholder--blank  {
	opacity: 0 !important;
}

.pswp__button--mapIt {
	background-image: url('/img/monkey.jpg') !important;
}

