* {
  margin: 0;
  padding: 0;
}

html, body {
	margin: 0;
	height: 100%;
}

#mapCanvas { 
	height: 90%;
}

#mapLeft {
/*	position: fixed; */
	float: left;	
	height: 90%;
	margin-left: 1%;
	overflow: auto; 
	width: 120px;
}

#mapRight {
	height: 90%;
	float: right;
	width: 10px;
}

#photoList {
	overflow: auto; 
	list-style-type: none;
}

.thumbnail {
	margin: 5px;
}

.thumbLink {
}

.border {
	width: 100%;
	height: 5%;
}

.pswp__bg {
	opacity: .5 !important; 
}

/* .pswp__top-bar */

.pswp__img--placeholder--blank,  {
	opacity: 0 !important;
}

