html, body {
       height: 100%;
}

#mapCanvas { 
	margin-top: 20px;
	float: right;
	height: 60%;
	width: 60%;
}

#mapLeft {
	float: left;	
	width: 35%;
	height: 60%;
	overflow: auto;	
	margin-left: 5%;
}

.item {
	padding: 10px;
	cursor: pointer;
}
