#albumList {
	width: 100%;	
	height: 80%;
}

#spacer {
	/* to prevent drawing behind header */
	height: 15%;
}

.albumItem {
	display: inline-block;
	text-align: center;
	width: 100px;
	margin: 10px;
}
