html
  head
    title #{title} 
    link(rel='stylesheet', href='/magnific/magnific-popup.css')
    link(rel='stylesheet', href='/css/edit.css')
  body
    #header
      #trashCanSpan
        p#trashCanDesc Drag Here to Delete
        img(id="trashCan" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" src="/icon/user_trash.png")
    ul#photoList
    script(src='https://code.jquery.com/jquery-1.11.3.js')
    script(src='/magnific/jquery.magnific-popup.js')
    script(src='/js/magnific-changes.js')
    script(src='/js/edit.js')

