<html>
  <head>
    <title>{{title}} </title>
    <link rel="stylesheet" href="/static/css/photo_mapper.css"/>
    <link rel="stylesheet" href="/static/lib/photoswipe/photoswipe.css"/>
    <link rel="stylesheet" href="/static/lib/photoswipe/default-skin/default-skin.css"/>
    <meta name="viewport" content="width = device-width, initial-scale = 1.0"/>
  </head>
  <body>
    <div class="border"></div>
    <div id="mapLeft"></div>
    <div id="mapRight"></div>
    <div id="mapCanvas"></div>
    <div class="border"></div>
    <script src="/static/js/misc.js"></script>
    <script src="/static/lib/photoswipe/photoswipe.js"></script>
    <script src="/static/lib/photoswipe/photoswipe-ui-default.js"></script>
    <script src='https://maps.googleapis.com/maps/api/js?key={{KEY}}'></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/static/js/photo_mapper.js"></script>
  </body>

