* {
  margin: 0;
  padding: 0;
}

html, body {
	margin: 0;
	height: 100%;
}

.mapCanvas { 
	height: 100%;
}

@media all and (orientation:landscape) {
	.PhotoList {
		float: left;	
		height: 100%;
		margin-left: 1%;
		overflow: auto; 
		width: 140px; 
	}
}

@media all and (orientation:portrait) {
    .PhotoList {
        overflow-x: scroll;
        overflow-y: hidden;
		width: auto; 
		white-space: nowrap;
    }
}

.thumbnail {
	margin: 1px;
	cursor: pointer;
	cursor: hand;
/*	width: 100px;
	height: 100px;*/
}

.border {
	width: 100%;
	height: 5%;
}

.pswp__bg {
	opacity: .7 !important; 
}

.pswp__img--placeholder--blank  {
	opacity: 0 !important;
}

.ListItem {
	display: inline-block;
	text-align: center;
	font-weight: bold;

*/}

/*.ListItem {
	float: left;
}
*/